@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}
body{
  background:#1d1ae7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wrapper{
  width: 400px;
  padding: 2rem 0 1rem 0;
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
h1{
  font-size: 2rem;
  color: #07001f;
}
p{
  margin-bottom: 1.7rem;
}
form input{
  width: 85%;
  outline: none;
  border: none;
  background: #dfe9f5;
  padding: 12px 14px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.checkbox-label {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
.checkbox-label input[type="checkbox"] {
    margin-right: 5px;
  width: 90px; /* Ajusta el ancho del checkbox según tus preferencias */
  height: auto;
  flex-shrink: 0; /* Evita que el checkbox se contraiga */
}
button{
  font-size: 1.1rem;
  margin-top: 1rem;
  padding: 8px 0;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 85%;
  background: #1d1ae7;
  color: #fff;
  cursor: pointer;
}
button:hover{
  background: #1d1ae7;
}
.or{
  font-size: 0.8rem;
  margin-top: 1.5rem;
}
.icons i{
  color: #07001f;
  padding: 00.8rem 1.5rem;
  border-radius: 10px;
  margin-left: .9rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px solid #dfe9f5;
}
.icons i:hover{
  color: #fff !important;
  background: #07001f;
  transition: 1s;
}
.icons i:first-child{
  color: blue;
}
.icons i:last-child{
  color: red;
}
.not-member{
  font-size: 0.8rem;
  margin-top: 1.4rem;
}
.not-member a{
  color: #1d1ae7;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

body {
  background: linear-gradient(150deg,rgb(21, 216, 219), rgb(11, 7, 139));
  overflow: hidden;
}

.snowflake {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  animation: fall linear infinite;
  pointer-events: none;
}

@keyframes fall {
  0% {
    transform: translateY(-10%);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}